<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>
  <body>
    {{> header}}
    <p>{{screamIt 'welcomemessage'}}</p>
    <p>Welcome to {{pageTitle}}</p>
    <p>Project page text. </p>
    {{> footer}}
  </body>
</html>
